<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<test name="VelMeni Automation">
    <classes>
<!--        <class name="Tests.CompleteFlowSD">-->
<!--            <methods>-->
<!--                <include name="EntireFlow()"/>-->
<!--            </methods>-->
<!--        </class>-->
        <class name="Tests.LoginLogout">
            <methods>
                <include name="loginflow()"/>
                <include name="logoutflow()"/>
            </methods>
        </class>
        <class name="Tests.AddPatient">
            <methods>
                <include name="AddPatient()"/>
                <include name="AddPatientbtn"/>
            </methods>
        </class>
        <class name="Tests.Chatbot">
            <methods>
                <include name="ChatBot()"/>
            </methods>
        </class>
        <class name="Tests.UploadAndAnalyse">
            <methods>
                <include name="UploadAndAnalyze()"/>
            </methods>
        </class>
        <class name="Tests.Settings">
            <methods>
                <include name="settingsFlow()"/>
                <include name="settingsFlow2()"/>
                <include name="settingsFlow3()"/>
                <include name="settingsFlow4()"/>
                <include name="settingsFlow5()"/>
            </methods>
        </class>
        <class name="Tests.Support">
            <methods>
                <include name="supportFlow()"/>
            </methods>
        </class>
    </classes>
</test>
</suite>