<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<test name="VelMeni Automation">
    <classes>
<!--        <class name="Pages.dashboard">-->
<!--            <methods>-->
<!--                <include name="EntireFlow()"/>-->
<!--            </methods>-->
<!--        </class>-->
        <class name="Pages.loginPage">
            <methods>
                <include name="loginflow()"/>
                <include name="logoutflow()"/>
            </methods>
        </class>
        <class name="Pages.AddPatient">
            <methods>
                <include name="AddPatient()"/>
            </methods>
        </class>
        <class name="Pages.Chatbot">
            <methods>
                <include name="ChatBot()"/>
            </methods>
        </class>
        <class name="Pages.Settings">
            <methods>
                <include name="settingsFlow()"/>
            </methods>
        </class>
        <class name="Pages.Support">
            <methods>
                <include name="supportFlow()"/>
            </methods>
        </class>
    </classes>
</test>
</suite>